.centum-form{
    ::-webkit-input-placeholder {color:#777;}
    :-ms-input-placeholder {color:#777;}
    ::-ms-input-placeholder {color:#777;}
    ::-moz-placeholder {color:#777;}
    ::placeholder  {color:#777;} 

    .required{
      ::-webkit-input-placeholder {color:#E63324;}
      :-ms-input-placeholder {color:#E63324;}
      ::-ms-input-placeholder {color:#E63324;}
      ::-moz-placeholder {color:#E63324;}
      ::placeholder  {color:#E63324;}         
    }
    .form-control{height: calc(44px + 2px);
      &:focus{box-shadow: none;}
    }

    textarea.form-control{height: calc(100px + 2px);}

    .custom-file{position: relative;
        .custom-file-label{height: calc(44px + 2px); padding: 10px 10px 7px;
          &::after{height: calc(44px + 2px);  padding: 10px 10px 7px;}
        }
        label.placelabel{display:none; color: #007bff; position: absolute; z-index: 99; left: 11px; top: -14px; font-size: 15px; width: auto;
          background: -webkit-gradient(left top,left bottom,color-stop(50%,#fff),color-stop(50%,#fff),color-stop(100%,#fff));
          background: linear-gradient(to bottom,rgba(255,255,255,0) 50%,#fff 50%,#fff 100%);
            &.showlabel{display:inline-block}
        }

    }
   
    
    .form-group{position:relative; margin-bottom:30px;
          label{display:none; color: #007bff; position: absolute; z-index: 99; left: 11px; top: -14px; font-size: 15px; width: auto;
            background: -webkit-gradient(left top,left bottom,color-stop(50%,#fff),color-stop(50%,#fff),color-stop(100%,#fff));
            background: linear-gradient(to bottom,rgba(255,255,255,0) 50%,#fff 50%,#fff 100%);
              &.showlabel{display:inline-block}
          }
     
        input, textarea, select, option{color: #222;}
        

    
      .captcha-text, .captcha-field, .btn-action{display:inline-block;}
      .captcha-text img{height:40px; width:auto}
      .captcha-text{border:dashed 1px #556b88; padding:4px 10px 0px 15px; margin:0 40px 0 10px;}
      .captcha-field input{background:#94a2b5; border:none; width:135px; color:#fff; font-size:20px; max-height:52px}
      .captcha-field .wpcf7-not-valid-tip{padding:8px 6px; font-size:15px;}
      p.security-txt{font-size:14px; margin:0 0 5px; color:#d2e0ef}
      option[type="label"]{color:#f00}

    }
    
}

.wpcf7-form{
  label{width: 100%; margin-bottom: 0px; font-size: 1rem;
    span{color: #f00; font-size: 0.95rem;}
  }
  .wpcf7-form-control-wrap{position: relative; margin-bottom: 25px; display: block; width: 100%;
        .wpcf7-form-control{width: 100%; border: solid 1px #ddd; padding: 3px 10px; color: #555; font-weight: 400;
          &.wpcf7-textarea{max-height: 120px;}
        }
        .wpcf7-not-valid-tip{font-size: 0.9rem; display: block;}
  }
  .wpcf7-submit{width: auto; margin-bottom: 0px; padding:10px 40px; font-size: 1.25rem; line-height: 1.25;}
  .ajax-loader{display: none;}

  &.submitting{
    .ajax-loader{display: inline-block;}
  }
  .captcha-text{display: inline-block; margin-right: 15px;
    img{min-height: 36px; min-width: 110px;}
  }
  .captcha-field{display: inline-block;
    .wpcf7-form-control-wrap{margin-bottom: 0px;}
  }
}