/* ############################## Home Page ####################################### */
.about_us{padding: 1.5rem 0rem 1.5rem; text-align: center; width: 80%; margin: 0 auto;
    h3{color: $color-black; font-weight: 400; font-size: 1.8rem; font-family: 'Source Serif Pro', serif; line-height: 1; margin-bottom: 0.5rem;}
    h4{color: $color-blue; font-weight: 400; font-size: 1.8rem; font-family: 'Source Serif Pro', serif; line-height: 1;}
    p{font-weight: 300;}

    iframe{max-width: 300px;}
}
.home_quick_logo{
    figure{border:solid 1px #ccc; border-radius:15px; background:#fff; text-align:center; overflow:hidden;
        img{@include transition(2.5s);}

        &:hover img{transform: scale(1.2);}
    }
}

#home_our_business{
    .slick-slide{
        div{font-size: 0px; line-height: 0; margin: 0;
            .slideItem{position: relative; padding: 2px;
                figure{position: relative; margin: 0px;
                    a{position: absolute; width: 100%; height: 100%; text-align: center;  z-index: 2; 
                        top: 0px; left: 0px; @include transition-cubic(1s);
                        span{font-size: 1.5rem; line-height: 1.5; transform: translate(-50%, -50%); position: absolute; left: 50%; top: 50%;
                            color: #fff;
                             width: 75%;}
                    }
                    img{position: relative; width: 100%; height: auto; z-index: 1;}

                    &:hover{
                        a{background:rgba($color-bdazzledBlue, 0.8);}
                    }
                }
            }
        }
    }
}

/* ######################### Template Corporate Training Solutions Page ########################## */
.temp_CTS{
    .CTS_page_list_wrap{margin-right: -8px; margin-left: -8px;
        .CTS_page_child_wrap{ height: 150px; overflow: hidden; margin-bottom: 2px; padding-left: 2px; padding-right: 2px;
            .CTS_page_child_content{overflow: hidden; position: relative; height: 100%; @include transition(1s); 
                figure{background-repeat: no-repeat; background-position: center center; background-size: cover; height: 100%; position: relative; z-index: 1; margin: 0px; padding: 0px;
                    &::before{content: ''; display: block; width: 100%; height: 100%; background: rgba(75,83, 97, 0.7); @include transition(1s); z-index: 2; position: absolute; top: 0px; left: 0px;
                        @include transition-cubic(1s);
                    }
                    &::after{content: ''; display: block; width: 100%; height: 100%; background: rgba($color-bdazzledBlue, 0.7); @include transition(1s); z-index: 2; position: absolute; top: 0px; left: 0px; opacity: 0;}
                }

                h4{position: absolute; width: 100%; height: 100%; text-align: center;  z-index: 2; opacity: 1; 
                    top: 0px; left: 0px;  @include transition(1s); font-weight: 400;
                    a{font-size: 1.15rem; line-height: 1.5; transform: translate(-50%, -50%); position: absolute; left: 50%; top: 50%;
                        color: #fff; width: 75%; text-decoration: none;}
                }

                a.parent_link{display: block; position: absolute; z-index: 4; width: 100%; height: 100%; left: 0px; top: 0px;}
                .child_data{@include transition(1s); position: absolute; z-index: 5; height: 100%; width: 100%; opacity: 0;
                    overflow-y: auto; top:0px;
                        .paraText{ position: relative; margin: 0px; padding: 10px 15px; height: auto; max-height: 100%; transform: translateY(-50%);  top:50%;  
                            p{color: $color-white; font-size: 0.85rem; line-height: 1.5; margin: 0; position: relative; z-index: 1;}
                            a{position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 2;}
                        }
                    
                        
                        ul{list-style: none; position: relative; margin: 0px; padding: 10px 0px; height: auto; max-height: 100%; transform: translateY(-50%);  top:50%;  
                            li{padding: 5px 12px 5px 20px; margin: 0px; line-height: 1; position: relative; 
                                a{font-size: 0.85rem; line-height: 1.45; color: rgba(255, 255, 255, 0.92); text-decoration: none; display: block;
                                    &:hover{color: rgba(255, 255, 255, 1);}
                                }

                                &::before{content: '';  display: block; width: 0; height: 0; position: absolute; left: 10px; top: 8px; border-style: solid; 
                                    border-width: 5px 0 5px 5px;
                                    border-color: transparent transparent transparent $color-skyblue;
                                
                                }
                            }
                        }

                        
                        &::-webkit-scrollbar {
                            width: 3px;
                        }
                    
                        &::-webkit-scrollbar-track {
                            background: #fff;
                        }
                    
                        &::-webkit-scrollbar-thumb {
                            background-color: $color-orange;
            
                        }
            
                    
                        &::-webkit-scrollbar-thumb:hover {
                            background: #ccc;
                        }
                }                   
                &:hover, &.active{
                    figure{
                        &::after{opacity: 1; }
                    }
                    h4{opacity: 0;}
                    .child_data{opacity: 1;}
                }
            }
        }

    &.grid1{
        .CTS_page_child_wrap{
            &:nth-child(1) {height: 360px;
                .CTS_page_child_content{height: 360px; margin-bottom:0px;}
            }
        }
    }

    &.grid2{
        .CTS_page_child_wrap{
            &:nth-child(1), &:nth-child(2) {height: 360px;
                .CTS_page_child_content{height: 360px; margin-bottom:0px;}
            }
        }
    }

    &.grid3{
        .CTS_page_child_wrap{
            &:nth-child(1){height: 360px;
                .CTS_page_child_content{height: 360px; margin-bottom:0px;}
            }
            &:nth-child(2){height: 360px;
                .CTS_page_child_content{height: 178px; margin-bottom:4px;}
            }
        }
    }    


    &.grid4{
        .CTS_page_child_wrap{
            &:nth-child(1), &:nth-child(2){height: 380px;
                .CTS_page_child_content{height: 188px; margin-bottom:4px;}
            }
           
        }
    }

    &.grid5{
        .CTS_page_child_wrap{height: 252px;
            .CTS_page_child_content{height: 250px; margin-bottom:4px;}
             &:nth-child(4), &:nth-child(5){height: 202px;
                .CTS_page_child_content{height: 200px; margin-bottom:0px;}
            }
        }
    }    

    &.grid5a{
        .CTS_page_child_wrap{height: 302px;
                .CTS_page_child_content{height: 300px; margin-bottom:4px;}
            &:nth-child(4), &:nth-child(5){height: 162px;
                .CTS_page_child_content{height: 160px; margin-bottom:0px;}        
            }
            &:nth-child(5){
                .CTS_page_child_content{background: #323232;
                    figure{height: 100px; max-width: 220px; width: 100%; background-size: contain; margin: 30px auto 0;
                        &::after, &::before{display: none;}
                    }
                }
            }
        }
    }  
    
    &.grid6{
        .CTS_page_child_wrap{
            &:nth-child(1), &:nth-child(3){height: 302px;
                .CTS_page_child_content{height: 300px; margin-bottom:4px;}        
            }
            &:nth-child(2){height: 300px;
                .CTS_page_child_content{height: 148px; margin-bottom:4px;}
            }
            &:nth-child(4), &:nth-child(5){height: 162px;
                .CTS_page_child_content{height: 160px; margin-bottom:4px;}        
            }

        }
    }

    &.grid6a{
        .CTS_page_child_wrap{
            &:nth-child(1), &:nth-child(3){height: 302px;
                .CTS_page_child_content{height: 300px; margin-bottom:4px;}        
            }
            &:nth-child(2){height: 300px;
                .CTS_page_child_content:nth-child(1){height: 175px; margin-bottom:4px;}
                .CTS_page_child_content:nth-child(2){height: 120px; margin-bottom:0px; background: #323232;
                    figure{height: 100px; max-width: 200px; width: 100%; background-size: contain; margin: 14px auto 0;
                        &::after, &::before{display: none;}
                    }
                }
            }
            &:nth-child(4), &:nth-child(5){height: 162px;
                .CTS_page_child_content{height: 160px; margin-bottom:4px;}        
            }

        }
    }

    &.grid7{
        .CTS_page_child_wrap{
            &:nth-child(1) {height: 306px;
                .CTS_page_child_content{height: 150px; margin-bottom: 4px;}
            }
            &:nth-child(2) {height: 306px;
                .CTS_page_child_content{height: 304px;}
            }
            &:nth-child(3) {height: 306px;
                .CTS_page_child_content{height: 150px; margin-bottom: 4px;}
            }
        }
    }

    }
}


/* ######################### Template CSR Partnerships Page ########################## */
ul.csr_banner_icon{list-style: none; margin: -15px 0px 15px; padding: 0px; width: 100%; float: left; display: flex; flex-wrap: wrap;
    li{float: left; text-align: center; width: 25%; margin: 0px; padding:0px 10px; 
        // & > div{padding: 10px; border-radius: 50%; border: solid 1px #fff; height: 120px; width: 120px; @include transition(0.2s); cursor: pointer;
        //     &:hover{background: rgba(255, 255, 255,1);}
        // }
        figure{width: 80px; height: 80px; margin: 0 auto 5px;  border-radius: 50%; border: solid 1px #999; position: relative;
            img{width: 58%!important; height: auto; transform: translate(-50%, -50%); position: absolute; left: 50%; top: 50%;  @include transition(1s);}
        }
        p{font-weight: 400!important; font-size: 0.85rem!important; line-height: 1.45; margin: 0px;}
        a{color: #000!important; text-decoration: none;}

        &:hover{
            figure{
                img{width: 80%!important;}
            }
        }
    }
}
.knowmore_box{border: solid 1px $color-skyblue; padding: 10px 15px 40px; text-align: center; height: 100%; position: relative; border-radius: 16px;
    h5{font-size: 1.15rem; color: #111; font-weight: 600; margin-bottom: 5px;}
    .know_more_btn{position: absolute; bottom: 20px;
    left: 50%; transform: translateX(-50%);
    }
}


/* ######################### Template Contact Us Page ########################## */
.temp_contact_us{
    ul.scrollspy_location{list-style: none; margin: 2rem 0px 0px; padding: 0px; width: 100%; float: left;
        li{width: 50%; float: left; text-align: left; line-height: 1;
            a{border-radius: 5px; border:solid 1px #333; max-width: 200px; text-align: center; display: inline-block; padding: 5px 15px 8px; text-decoration: none;
                img{max-width: 40px; height: auto; margin-bottom: 8px;}
                i{font-style: normal; width: 40px; height: 40px; display: inline-block; margin: 0px; @include location_Map('000');}
                span{display: block; line-height: 1; color: #000; font-weight: 400;}

                &:hover{background: $color-bdazzledBlue;
                    i{@include location_Map('fff');}
                    span{color: #fff;}
                }
            }
        }
    }
    .form_wrap{ background: $color-bdazzledBlue; padding: 20px; 
        label{color:#fff; font-size: 0.9rem; font-weight: 300; margin-bottom: 0;
            span{color: #f00; font-size: 1.1rem; line-height: 1;}
        }
        .form-control{background: #fff;}
        #form-submit-button{background: #fff; border: solid 1px #000; border-radius: 6px; padding: 8px 30px; font-size: 1.1rem; font-weight: 500;
            &:hover{background: #000; color: #fff;}
        }
    }
    .map_wrap{background: #f0f0f0; padding: 8px; @include box-shadow(2px,5px,3px,1px,0.1); border-radius: 5px; line-height: 1; font-size: 0px;
        iframe{width: 100%; height: 400px; margin: 0px;}
    }
}
.contact_us{
    h3{margin-bottom: 0px;}
    h5{margin-bottom: 0px;}
    p{margin-bottom: 10px;
        a{color: #111;
            &:hover{color: #1f77df;}
        }
    }
    .location_box{padding: 10px 20px 55px; border: solid 1px $color-skyblue; background: #fff; height: 100%; position: relative; border-radius: 12px;
        h5{font-size: 1.25rem;}
        .map_location_btn{position: absolute; bottom: 20px; left: 20px;
            a{border: solid 1px #1f77df; font-size: 0.7rem; line-height: 1; display: inline-block; text-decoration: none !important;
            padding: 6px 8px; border-radius: 5px; font-weight: 500; color: #111;
            &:hover{
                background: $color-blue; color: #fff;
            }
          }
        }

        &:hover{background: #fcfcfc;
            .map_location_btn a{background: #f0f0f0; border-color: #999;
                &:hover{background: $color-blue; color: #fff; border-color: $color-blue;}
            }
        }
    }

    iframe{width: 100%; border-radius: 16px;}
}
#location_map_modal{
    .modal-dialog{max-width: 600px;}
    .modal-content{position: relative; min-height: 400px; padding-top: 20px;
        .close{width: 24px; height: 24px; z-index: 9; top: 5px; right: 5px; position: absolute; cursor: pointer; opacity: 0.7;
            &::after, &::before{width: 100%; height: 2px; background: #000; content: ''; display: block; z-index: 1;  position: relative;}

            &::after{transform: rotate(-45deg);}
            &::before {transform: rotate(45deg); top: 2px;}

            &:hover{opacity: 1;}
        }
    }

    iframe{width: 100%; height: 338px;}
}

/* ######################### Template Careers Page ########################## */

.careers_infographic_bg{ width: 100%; height: 400px; background-repeat: no-repeat; background-position: center center; background-size: contain; position: relative;
    .btn{top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; z-index: 5;}
}

/* ######################### Template How We Work Page ########################## */
.approach_wrap{position: relative; max-width: 198px; height: 100%; border:solid 1px $color-lightblue; padding: 75px 12px 12px; @include transition(1s);
    background: #fff; border-radius: 10px; margin: 0 auto;
    figure{width: 100px; height: 95px; position: absolute; right: 20px; top: -25px; margin: 0px;
        img{border-radius: 8px;}
    }
    h4{font-size: 1.3rem; line-height: 1.6; color: $color-lightblue; margin: 0px;}
    p{font-size: 0.8rem; line-height: 1.3; margin: 0px;}

    &:hover{transform: scale(1.125);}
}

/* ######################### Template Our Team Page ########################## */
.temp_our_team {padding-top: 100px; padding-bottom: 60px; height: auto;  background-attachment: fixed;
    &::after{display: none;}

    .banner_content h1{margin-top: 40px;}
    .ourTeam-flipBox{
        .flip-box-front{background: #0078b7;}
        .flip-box-back{background: #fff;
            h5{color: #222;}
            p{color: #0078b7; font-weight: 400;}
            ul.socialLink{border-top-color: #0078b7;
                li{
                    a{background-color: #1f77df;
                        i{                         
                            &.facebook{@include facebook('fff');}
                            &.twitter{@include twitter('fff');}
                            &.linkedIn{@include linkedIn('fff');}
                        }

                        &:hover{background-color: $color-blue;}
                    }
                }
            }
        }
    }

}

.ourTeam-flipBox{padding: 0 10px; height: 330px;
        .flip-box-front{background: #0078b7; padding: 15px 10px; border-radius: 15px;
            figure{width: 130px; height: 130px; margin: 0px auto 15px; 
                img{width: 100%; height: auto; border-radius: 12px; @include box-shadow(2px,5px,3px,1px,0.1)}
            }
            h4{font-size: 1.3rem; line-height: 1.35; color: #fff; text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25); margin-bottom: 8px;}
            p{font-size: 0.9rem; line-height: 1.3; text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3); font-weight: 300; margin-bottom: 10px; color: #fff;}
            div{font-size: 0.95rem; line-height: 1.5; color: #fff; font-weight: 300; position: relative; padding-top: 10px;
                &::before{content: ''; width: 70%; height: 2px; background: $color-orange; display: block; left: 15%; top:0px; position: absolute;}
            }
        }
        .flip-box-back{background: #0078b7; padding: 20px 15px; border-radius: 15px;
            h5{color: #fff; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.20); font-size: 1.1rem; line-height: 1.2; margin-bottom: 5px;}
            p{margin-bottom: 20px; font-size: 0.9rem; line-height: 1.3; color: #fff; font-weight: 200; }
        
            ul.socialLink{display: flex; flex-wrap: wrap; list-style: none; margin: 0px auto; padding: 0px; text-align: center; border-top: solid 2px #fff;
                width: 80%;
                li{display: inline-block; margin:10px auto 0px;
                    a{width: 40px; height: 40px; display: block; background-color: #efefef; padding: 5px; border-radius: 7px;
                        i{width: 100%; height: 100%; display: block;                            
                            &.facebook{@include facebook('1f77df');}
                            &.twitter{@include twitter('1f77df');}
                            &.linkedIn{@include linkedIn('1f77df');}
                        }

                        &:hover{background-color: #fff;}
                    }
                }
            }
        }
}

/* ######################### Template Media Page ########################## */
.temp_media{
    .contact_info{width: 100%; max-width: 340px; margin: 80px auto 0px; padding: 25px; border-radius: 15px;
        background: url('../images/media-queries_bg.jpg') 0 0 no-repeat; background-size: cover;
        h4{color: $color-white; margin-bottom: 0.75rem; line-height: 1.25;}
        h5{font-size: 1.15rem; color: $color-white; margin-bottom: 0px;}
        p{font-size: 0.9rem; line-height: 1.35; font-weight:300; margin-bottom: 0px; color: $color-white;
            a{color: $color-white; text-decoration: none;
                &:hover{color: $color-orange;}
            }
        }
    }

    ul.scrollspy_location{list-style: none; margin: 2rem 0px 0px; padding: 0px; width: 100%; float: left;
        li{width: 50%; float: left; text-align: left; line-height: 1;
            a{border: solid 1px #333; border-radius: 5px; max-width: 200px; text-align: center; display: inline-block; padding: 5px 15px 8px; text-decoration: none;
                i{font-style: normal; width: 32px; height: 32px; display: inline-block; margin: 0px 0px 6px; 
                    &.mc{width: 42px;}
                    img{width: 100%; height: auto; @include invert(100%);}
                }
                span{display: block; line-height: 1; color: #000;}

                &:hover{background: $color-bdazzledBlue;
                    img{@include invert(0%);}
                    span{color: #fff;}
                }
            }
        }
    }

}
.media_wrap{
    .media_year_list{list-style: none; margin: 15px 0px 40px; padding: 0px; text-align: center;
        li{margin: 0 15px; display: inline-block;
            a{border:solid 1px #0078b7; border-radius: 0px; padding:8px 50px; line-height: 1.25; color: #000; font-weight: 500; text-decoration: none; @include transition(0.125s);
                &:hover, &.active{border:solid 1px #0078b7; background: #0078b7; color: #fff;}
            }
        }
    }
    .media-tab-container{padding: 0px; overflow-x: hidden; min-height: 320px;
        .slick-slider{
            .slick-track{display: flex !important;
                .slick-slide{padding: 0px 15px;  height: inherit !important;
                    & > div{height: 100%;}
                    .media_box{border:solid 1px #0078b7; width: 100%; height: 100%; padding: 15px 20px; border-radius: 15px; background: #fff;
                        h4{font-size: 1rem; line-height: 1.45; font-weight: 400; min-height: 100px;}
                        p{font-size: 0.9rem; line-height: 1.25; margin: 0 0 5px; color: #666;
                            strong{font-weight: 500; color: #000;}
                        }
                        .view_btn{margin-top: 10px;
                             a{font-size: 0.7rem; font-weight: 500;}
                        }

                        &:hover{background: #fff;}
                    }
                }
            }
        }
    }
    .download_logo{padding: 25px; text-align: center;
        .img-fluid{max-width: 200px;}
        h5{line-height: 1.5; margin: 5px 0 0 0;}
        p{font-size: 0.775rem; margin: 0px;}
    }
}


/* ######################### Template Dialogues Page ########################## */
.temp_dialogues{
    .banner_content{padding: 0px 50px 0px 15px;}
    .page_banner_content{position: relative; z-index: 99;
        h2{color: $color-orange; font-size: 1.75rem; line-height: 1.35;}
        .block_scrollbar{overflow-y: scroll; max-height: 340px; padding-right: 10px;
            &::-webkit-scrollbar {
                width: 3px;
              }
          
              &::-webkit-scrollbar-track {
                background: #fff;
              }
          
              &::-webkit-scrollbar-thumb {
                background-color: $color-orange;

              }

          
              &::-webkit-scrollbar-thumb:hover {
                background: #ccc;
              }
        }

        ul.upcoming_discussions{list-style: none; margin: 0px; padding: 0px;
            li{margin: 0 0 30px; padding: 0px; opacity: 0.92;
                .feature_img{width: 100%; height: 170px; display: block; margin:0 0 10px; background: url(../images/upcoming-webinar.jpg) no-repeat top center; background-size: cover; 
                    position: relative; text-align: center; border-radius: 20px;  font-size: 0; line-height: 1;              
                }
                h3{color: #fff; font-size: 1.2rem; line-height: 1.4; margin: 0; padding: 15px; font-weight: 500; position: relative; z-index: 5; top: 60%; left: 50%; transform: translate(-50%, -50%);}
                .schedule_date{color: #fff; font-size: 1rem; line-height: 1.35; font-weight: 300; margin-bottom: 10px;}
                .heading{color: #fcd04e; font-size: 0.85rem; line-height: 1.35; font-weight: 400; margin-bottom: 5px;}
                p{color: #fff; font-size: 0.9rem; line-height: 1.35; margin: 0 0 8px 0; font-weight: 200;
                    strong{color: #fff; font-weight: 400;}
                }
                a{color: #fff; text-decoration: none;}

                &:hover{opacity: 1;}
            }

        }
        ul.recent_discussions{list-style: none; margin: 0px; padding: 0px;
            li{margin: 0 0 30px; padding: 0px; opacity: 0.92;
                h3{color: #fff; font-size: 1.35rem; line-height: 1.35; margin: 0 0 10px 0; font-weight: 500;}
                .heading{color: #fcd04e; font-size: 0.85rem; line-height: 1.35; font-weight: 400; margin-bottom: 5px;}
                p{color: #fff; font-size: 0.9rem; line-height: 1.35; margin: 0 0 8px 0; font-weight: 200;
                    strong{color: #fff; font-weight: 400;}
                }
                a{color: #fff; text-decoration: none;}

                &:hover{opacity: 1;}
            }
        }
        ul.insights{list-style: none; margin: 0px; padding: 0px;
            li{margin: 0 0 20px; padding: 0px; float: left; width: 100%; background: #fff; border-radius: 12px; padding: 10px; position: relative;
                h3{color:$text-heading; font-size: 1.1rem; line-height: 1.25; margin: 0 0 10px 0; font-weight: 500;
                
                }
                figure{max-width: 120px; width: 30%; height: 80px; display: block; float: left; margin: 0 10px 0 0px; border-radius: 10px;
                    background-repeat: no-repeat; background-position: center center;
                }
                .reamore_btn{position: absolute; right: 10px; bottom: 10px; display: inline-block;
                    a{ text-decoration: none; display: inline-block; padding: 5px 10px; border:solid 1px #1f77df; font-size: 0.8rem; line-height: 1; border-radius: 6px;
                        &:hover{background-color: #1f77df; color: #fff;}
                    }
                }
            }

        }

        .more_post_btn{display: block; text-align: right; padding: 15px 10px 0 0;
            a{background: #fff; color: #1f77df; font-weight: 500; font-size: 0.75rem; display: inline-block; padding: 6px 12px;
                text-decoration: none; line-height: 1.5; text-transform: uppercase; border-radius: 9px;

                i{font-style: normal; width: 14px; height: 8px; display: inline-block;
                    background: url(../images/arrow-blue.svg) no-repeat center center;
                    background-size: cover;
                }

                &:hover{background-color: #1f77df; color: #fff;
                    i{background-image: url(../images/arrow-white.svg);}
                }
            }
        }
    }
    .btn.btn-warning{color: #000;}
}

.dialogue_slider{
    .slick-track{display: flex !important;
        .slick-slide{padding: 0px 15px 15px; height: inherit !important;
            &> div{ min-height: 100%; border: solid 1px #1f77df; border-radius: 12px; background: #fff; position: relative;
                padding: 12px 12px 60px 12px; @include box-shadow(0px,5px,10px,0px,0.25); overflow: hidden;
                .dialogues_wrap{
                    h4{font-size: 1rem; line-height: 1.4; color: $text-heading; margin-bottom: 5px;}
                    .cat-featured-image{width: 100%; min-height: 152px; margin-bottom: 15px; @include transition(0.8s);  background-repeat: no-repeat; background-position: center; background-size: cover; position: relative;
                        &.webinarThumb{background-image: url(../images/webinar-listing-thumb.jpg);}
                    }
                    .excerpt p{font-size: 0.9rem;}
                    p{margin:0 0 5px 0; font-size: 0.85rem; line-height: 1.3;
                        strong{color: $color-black; font-size: 0.875rem; font-weight: 500;}
                    }
                    .heading{color: $color-black; font-size: 0.9rem; line-height: 1.3; font-weight: 600; margin-top: 10px;}
                }

                .know_more{position: absolute; bottom: 20px; right: 12px;
                    a{display: block; background:$color-blue; color: $color-white; padding: 2px 20px; border-radius: 25px; font-size: 0.85rem; 
                        &:hover{text-decoration: none; background-color: $color-lightblue;}
                    }
                }

                &:hover{
                    .cat-featured-image{transform: scale(1.17);}
                }
            }
        }
    }

    &.slick-slider ul.slick-dots{margin-top: 40px;}
}

.more_dialogues_btn{position: relative; top: -65px; text-align: right; width: 100%; padding: 0 35px;
    i{background: url(../images/arrow-blue.svg) no-repeat center center; background-size: contain; width: 20px; height: 13px; display: inline-block;}
}

/* ######################### Template Solutions Page ########################## */

.page-template-page-careers .HomeCarousel .slick-slider .slick-slide div .item .banner_content .banner_left .btn-primary{
    border:solid 1px #000; background: none; color: #000; font-weight: 400;

    &:hover{background: $color-bdazzledBlue; color: #fff; border-color: $color-bdazzledBlue;}
}

/* ######################### Template Solutions Page ########################## */
.client_slider{
    &.slick-slider{
        .slick-track{display: flex !important;
            .slick-slide{padding: 0px 15px;  height: inherit !important; text-align:center;
                & > div{height: 100%;}
                .client_box_wrap{width: 100%; max-width: 300px; height: 100%; position: relative; text-align: center;

                    figure{width: 100%; max-width: 300px; height: auto; position: relative; margin: 0; 
                        background-repeat: no-repeat; background-position: left top; background-size: cover;
                        img{width: 100%; height: auto;}

                        &::before{content: ''; display: block; width:calc(100% + 2px); height: calc(100% + 2px); left:-1px; top: 0px; position: absolute; z-index: 1;
                        background: url(../images/client_wrap_mask_white.png) no-repeat top left;  background-size: cover;
                        }

                        &.video{
                            .show_btn{position: absolute; width: 70px; height: 40px; background: #f00; z-index: 5;
                                border-radius: 12px; opacity: 0.75; top: 50%; left: 50%; transform: translate(-50%, -60%); cursor: pointer;
                                &::after{width: 0; height: 0; border-style: solid; border-width: 8px 0 8px 14px; border-color: transparent transparent transparent #fff;
                                    content: ''; display: block; left: 28px; top: 12px; position: relative;}

                                &:hover{opacity: 1;}
                            }
                        }
                        &.text{
                            .read_btn{position: absolute; width: 76px; height: 40px; line-height: 40px; text-align: center;  background: #f00; z-index: 5; color: #fff;
                                border-radius: 12px; opacity: 0.75; top: 50%; left: 50%; transform: translate(-50%, -60%); cursor: pointer;

                                &:hover{opacity: 1; text-decoration: none;}
                            }
                        }
                    }
                    .client_meta{ padding: 1rem 10%;
                        h5{font-size: 1.05rem; line-height: 1.4; margin: 0; font-weight: 500;}
                        p{font-size: 0.85rem; line-height: 1.4; margin: 0px;
                            strong{font-weight: 500;}
                        }
                    }

                }
            }
        }
    }

}
.client_speak_modal{max-width: 800px!important; max-height: 500px!important; overflow-y: auto; padding: 40px 30px 20px!important;
    p{font-size: 1.1rem; line-height: 1.5;}
    .client_info{padding-top: 10px;
        figure img{border-radius: 10px;}
        h4{font-size: 1.2rem; line-height: 1.35; margin-bottom: 5px;}
        p{font-size: 1rem; line-height: 1.2; margin-bottom: 5px;}
    }

}
.case_slider{
    &.slick-slider{
        .slick-track{display: flex !important;
            .slick-slide{padding: 0px 25px;  height: inherit !important;
                & > div{height: 100%;}
                .case_box_wrap{width: 100%; height: 100%; position: relative; text-align: center;

                    figure{width: 100%; height:auto; position: relative; overflow: hidden; border-radius: 25px;
                        img{@include transition(2s); }

                        &:hover{
                            img{transform: scale(1.125);}
                        }
                    }

                }
            }
        }
    }

}

.learnProCard{background: #1f77df; padding:20px 24px; color: #fff; font-size: 1rem; line-height: 1.45; border-radius: 10px; font-weight: 300;}
.platform_features_list{display: none;}
.learnProCard-flipBox{
    .flip-box-inner{height: 300px;
        .flip-box-front{border:solid 1px #0078b7; padding: 25px; background: #fff; min-height: 300px;
            border-radius: 16px;
            .cont{transform: translate(-50%, -50%); position: relative; top: 50%; left: 50%;
                figure{margin: 0 auto; width: 100px; height: 100px; background: #007bff; margin-bottom: 15px; border-radius: 50%;
                    img{width: 70%; height: auto; transform: translate(-50%, -50%); position: relative; top: 50%; left: 50%;}
                }
                h4{width: 100%; font-size: 1.175rem; line-height: 2rem;}
            }
        }
        .flip-box-back{background: #1f77df; min-height: 300px; padding: 20px 24px; color: #fff; font-size: 1rem; line-height: 1.45;
            border-radius: 10px; font-weight: 300;
            h4{color: #fff; text-align: center; font-size: 1.175rem; line-height: 2rem; margin-bottom: 10px;}
            p{color: #fff; text-align: center; font-size: 1rem; line-height: 1.5;}
        }
    }
}

/* ######################### Template Job List Page ########################## */
.temp_job_list{
    &.TemplateBanner .banner_content .video_cont figure{max-width: 360px; margin:  0  auto;}

    .filter_drop{background: rgba(31, 119, 223, 0.6); padding: 15px;
        label{color: #fff; font-size: 1rem; margin-bottom: 5px;}
        select{font-size: 1rem;}
    }

    ul.scrollspy_location{list-style: none; margin: 2rem 0px 0px; padding: 0px; width: 100%; float: left;
        li{width: 100%; float: left; text-align: left; line-height: 1;
            a{background: #1f77dd; border-radius: 5px; max-width: 260px; text-align: center; display: inline-block; padding: 15px 25px 12px; text-decoration: none;
                i{font-style: normal; width: 32px; height: 32px; display: inline-block; margin: 0px 0px 6px; 
                    &.mc{width: 42px;}
                    img{width: 100%; height: auto;}
                }
                span{display: block; line-height: 1.4; color: #fff;}

                &:hover{background:#00aeef}
            }
        }
    }
}
.jobList_col{
    .jobList_wrap{min-height: 100%; background: #fcfcfc; padding: 20px 20px 60px; border: solid 1px #ddd; border-radius: 12px; position: relative;
        h4{font-size: 1.2rem; line-height: 1.3; width: calc(100% + 42px); left: -21px; top:-20px; position: relative; padding: 16px 20px; color: #fff;
            margin-bottom: 0px; background-color: #0078b7; border-top-left-radius: 12px;  border-top-right-radius: 12px;
        }
        .opeing_date{font-size: 0.85rem; line-height: 1.25; text-align: center;}
        li{margin-bottom: 8px; font-size: 1rem; line-height: 1.3;
            strong{font-weight: 600;}
        }

        .applynow_btn{position: absolute; bottom: 20px; width: calc(100% - 38px); 
            small{line-height: 1.4; float: left; padding-right: 10px; font-size: 75%;}
            a{float: right;}
        }
    }

    &:nth-child(3n+2) .jobList_wrap h4{background-color: #002776}
    // &:nth-child(3n+3) .jobList_wrap h4{background-color: #002776;}
}

#job_opportunities_list{min-height: 350px; position: relative;}


/* ######################### Template Skill Development Page ########################## */
.skill_item_wrap{border:solid 2px #1f77df; text-align: center; padding: 20px 15px; min-height: 100%; border-radius: 10px; @include transition(0.4s);
    figure{width: 80px; height: 80px; margin: 0 auto 10px; position: relative; border:solid 2px #1f77df;  border-radius: 50%; @include transition(0.4s);
        img{width: 60%; height: auto; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; @include transition(0.4s);}
    }
    h5{font-size: 1rem; line-height: 1.4; margin-bottom: 0; @include transition(0.2s);}
        
    &:hover{background: #1f77df; color: #fff;
        figure{background: #fff;}
        h5{color: #fff;}
    }

    a{position: absolute; z-index: 25; display: block; width: 100%; height: 100%; top:0px; left: 0px;}
}
.employability_item_wrap{position: relative;
    .box_wrap{background: #1f77df; padding: 15px 15px 5px; min-height: calc(100% - 30px); border-radius: 10px; margin:15px; position: relative;  @include transition(0.2s);
        h5{color: #fff; line-height: 1.35; text-align: center; position: relative; z-index: 5;  @include transition(0.2s);}
        ul{ position: relative; z-index: 5; margin-bottom: 0px;
            li{font-size: 0.85rem; line-height: 1.3; color: #fff; margin-bottom: 10px;  @include transition(0.2s);}
        }
        &::before{content: ''; display: block;  width: calc(100% + 30px); height: calc(100% + 30px); border:dashed 4px #1f77df; position: absolute; left: -15px; top:-15px; border-radius: 16px; z-index: 1;}
        &::after{content: ''; display: block; width: calc(100% + 30px); height: calc(50% + 15px); position: absolute; left: -15px; top:-15px; border-radius: 16px; z-index: 2;
           
            border:solid 4px #1f77df;
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

        }

        &:hover{background: #fff;
            h5, li{color: $text-heading;}
        }
    }

    &::before{content: ''; display: block; width: 30px; height: 4px; background: #1f77df; position: absolute; top:calc(50% + 1px); right: -11px; z-index: 98;}
    &::after{content: ''; display: block; position: absolute; top:calc(50% - 7px); right: -15px; z-index: 99;
        width: 0; height: 0; border-width: 10px 0 10px 10px; border-style: solid; border-color: transparent transparent transparent #1f77df;}

    &:nth-child(even){
        .box_wrap{background: #002776;
            &::before{border-color: #002776;}
            &::after{transform: rotate(180deg); height: calc(50% + 15px); top:50%; border-color: #002776;}

            &:hover{background: #fff;
                h5, li{color: $text-heading;}
            }
        }

        &::before{background: #002776;}
        &::after{border-color: transparent transparent transparent #002776;}
    
    }
    &:last-child{
        &::before, &::after{display: none;}
    }

}

.csd_wrap{border:solid 1px #1f77df; min-height: 100%; width: calc(100% - 40px); padding: 70px 15px 40px; margin: 0 auto; position: relative;
    figure{position: absolute; top: -35px; left: -35px; background: #ddd; padding: 15px; margin: 0px;;
        img{width: 50px; height: auto; margin: 0px; padding: 0; max-width: 50px; height: auto;}
    }

}

/* ######################### Template 404 Page ########################## */
.temp_404{ padding-top: 100px;
    .found_404{max-width: 250px; margin: 0 auto;
        img{width: 100%; height: auto;}
    }
}

/* ######################### Template Privacy Page ########################## */
.privacy_contact_wrap{background: url(../images/privacy-contact-us-bg.jpg) no-repeat top center;
    padding: 70px 0px 50px; background-size: cover; color: #fff;
    p{color: #fff;}
}

/* ######################### Investor Relations Page ########################## */
.page-investor-relations .banner_content h1{margin-top: 80px;}
.investor_relations_list{margin: 0px; padding: 0px; list-style: none; display: block;
    li{padding: 20px 10px; float: left; width: 100%; margin: 0px; border: solid 1px #007bff; border-top: none; background: #fff;
        .icon{background: url('../images/ic-pdf.svg') no-repeat 0 0; float: left; width: 40px; height: 28px; background-size: contain;}
        a{float: left; color: $text-color;
            &:hover{color: $color-lightblue; text-decoration: none;}
        }
    }
}
.investor_relations_tabs{margin-bottom: 0px; position: relative; bottom: -2px;
    li {margin-bottom: 0px; text-align: center;
         a{background: #f0f0f0; color: $color-black;}
    }
}

/* ######################### Template Africa Page ########################## */
.africa_LS{
    .slick-track { display: flex !important; }
    .slick-slide{height: inherit !important; padding: 0 15px;
        &> div{ height: 100%; position: relative; }

        .africa_LMS{padding: 0px; min-height:calc(100% - 15px); border-radius: 5px; @include box-shadow(0px,0px,10px,1px,0.08);
            background: #fff;
            figure{width: 100%; height: auto; margin: 0 0 15px 0;
                img{width: 100%; height: auto; border-radius: 5px 2px 0 0;}
            }
            .africa_LMS_content{padding: 20px 25px;
                h4{line-height: 1.4; font-size: 1.35rem;}
                ul {list-style: none; margin: 0; padding-left: 25px;
                    li{margin-bottom: 12px; line-height: 1.35; position: relative;
                        &::before{content: '✓'; display: inline-block;  position: absolute; left: -25px; top:0px}
        
                        &:last-child{margin-bottom: 0;}
                    }
                }
            }
        }
    }

}
.impacting_lives{padding-bottom: 30px;
    .slick-track { display: flex !important; }
    .slick-slide{height: inherit !important;
        &> div{ height: 100%; position: relative; }
        .impacting_item{padding: 0 20px 10px; height: 100%;
            figure{width: 100px; height: 100px; float: right; margin: 0 2px 25px 0;
                img{width: 100%; height: auto; border:solid 2px #1f77df; border-radius: 10px;}
            }
            .impacting_lives_wrap{font-size: 0.9rem; line-height: 1.35;  padding: 0.5rem 1rem 1rem; border: solid 2px #1f77df; border-radius: 12px; float: left; width: 100%; height: calc(100% - 120px); position: relative;
                h4{font-size: 1rem; font-weight: bolder; margin-bottom: 5px;}
                .address{text-align: right; margin-top: 1rem;}

                &::before, &::after{bottom: 100%;  right: 30px; content: " "; display: block; height: 0; width: 0; position: absolute;
                    border: solid transparent; pointer-events: none;
                }

                &::before {border-bottom-color: #1f77df;  border-width: 18px;}                
                &::after {border-bottom-color: #fff; border-width: 18px; top:-34px}

            }
        }
    }
}

@media (max-width:1024px){
    #home_our_business{padding-left: 40px; padding-right: 40px;
        &.slick-slider .slick-arrow.slick-prev{left: 4px;}
        &.slick-slider .slick-arrow.slick-next{right: 4px;}
    }
}

@media (max-width:900px){
    .about_us{width: 96%;}
    .carousel {width: 100%!important; overflow: hidden!important;}
    .employability_item_wrap{
        &::before, &::after{display: none;}
    }
}

@media (max-width:767px){
    .approach_wrap{max-width: 84%;}
    .temp_CTS{
        .CTS_page_list_wrap{
            .CTS_page_child_wrap{ height: auto!important;
                .CTS_page_child_content{height: 200px!important;}
            }


        &.grid6a .CTS_page_child_wrap:nth-child(2) .CTS_page_child_content{height: auto!important;}
        &.grid5a {
                .CTS_page_child_wrap:nth-child(3){order: 4};
                .CTS_page_child_wrap:nth-child(4){order: 5};
                .CTS_page_child_wrap:nth-child(5){order: 3;
                  .CTS_page_child_content{height: auto!important;}
                }

            }

        }
    }
    #home_our_business .slick-track{
         .slick-slide {
             div .slideItem figure a span{font-size: 1.25rem;}
             &:nth-child(1){order: 1;}
             &:nth-child(3){order: 2;}
             &:nth-child(5){order: 3;}
             &:nth-child(2){order: 4;}
             &:nth-child(4){order: 5;}
             &:nth-child(6){order: 6;} 
             &:nth-child(7){order: 7;} 
             &:nth-child(8){order: 8;}   
         }
    }

    .temp_CTS .CTS_page_list_wrap.grid5a .CTS_page_child_wrap:nth-child(5) .CTS_page_child_content figure{margin: 0 auto;}

    
}

@media (max-width:576px){
    .employability_item_wrap{
        &::before{display: block; top: unset; right: 50%; bottom: -20px; width: 4px; height: 20px;}
        &::after{display: block; top: unset; right: calc(50% - 3px); bottom: -30px; transform: rotate(90deg);  }
    }

    #home_our_business{padding-left: 5px; padding-right: 7px;
        .slick-slide{display: flex; flex-direction: column;
            div{
                &:nth-child(1){order: 1;}
                &:nth-child(3){order: 2;}
                &:nth-child(5){order: 3;}
                &:nth-child(2){order: 4;}
                &:nth-child(4){order: 5;}
                &:nth-child(6){order: 6;} 
                &:nth-child(7){order: 7;} 
                &:nth-child(8){order: 8;}        
            }
        }
    }
}

@media (max-width:400px){
    .about_us iframe{max-width: 100%;}
    .dialogue_slider .slick-track .slick-slide, .africa_LS .slick-slide{ padding: 0px;}
    .temp_media ul.scrollspy_location li a, .temp_contact_us ul.scrollspy_location li a{max-width: 150px; padding: 15px;}
    .media_wrap .download_logo{padding: 10px;
         .img-fluid{max-width: 100%;}
    }
}
