.post-content{
    
    .page_top_excerpt{font-size: 1.4rem; line-height: 1.8; text-align: center; margin-bottom: 30px; width: 100%;
        p{font-size: 1.4rem; line-height: 1.8;}
    }
    .post-featured-image{margin-bottom:30px; width: 100%; text-align: center;
        img{margin: 0 auto; max-width: 100%; height: auto;}
    }
    .the_post{width: 100%; display: block;
        img{max-width: 100%; height: auto;}
    .alignleft, img.alignleft, a img.alignleft {float:left; margin:0 1em 1em 0}    
    .alignright, img.alignright, a img.alignright{float:right; margin:0 0 1em 1em}
    .aligncenter, img.aligncenter, a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
    .wp-caption-text{background: #fafafa; color: #888; font-size: 0.8rem; line-height: 1.25; padding: 10px 10px; border-radius: 4px;}
    }
}

/* ######################### Template Webinars Post ########################## */
.speakers_slider{padding: 0px 0px 50px;
    .slick-track{display: flex !important;
        .slick-slide{padding: 60px 25px 0; position: relative; height: inherit !important;
            &> div{display: flex; min-height: 100%; position: relative;}
            .speakers_wrap{border: solid 1px $color-lightblue; padding: 15px; position: relative; background: #fff;
                .speakers_info{width: calc(100% - 150px); 
                    h4{font-size: 1.1rem; line-height: 1.25; margin-bottom:0px;}
                    p{margin: 0px; line-height: 1.25; font-size: 1rem;
                        strong{font-weight: 500;}
                    }
                }

                figure{ position: absolute; width: 120px; height: 120px; border: solid 1px $color-lightblue; border-radius: 50%; top:-60px; right: 25px;
                    background:#fff;
                    img{width: 100%; height: auto;}
                }
                .about_speakers{margin-top: 20px;
                    p{font-size: 1rem; margin-bottom: 15px; line-height: 1.5;}

                    .readmore{display: block; background: transparent; padding: 0px;
                        a{display: inline-block; background: #09367d; padding: 6px 12px; border-radius: 10px; color: #fff; text-decoration: none;
                            &:hover{background-color: #052861;}
                        }
                    }
                }
            }
        }

        
    }
}

.card.key_features_wrap{border:solid 1px $color-lightblue;  min-height: 100%; border-radius: 0px;
    .card-heading{background: $color-lightblue; margin-left: -1px;
        h3{color: #fff; padding: 8px 15px; line-height: 1.2; font-size: 1.25rem; margin: 0px;}
    }
    .card-body{
        ul{margin: 0px;
            li{margin-bottom: 8px;}
        }
    }
}
.reg_closed_msg{background: #1f77df; padding: 5px 15px; color: #fff;}


.cat_wrap{ border: solid 1px #1f77df; padding: 10px 10px 60px; height: 100%; position: relative; border-radius: 12px;
    h4{font-size: 1.1rem; line-height: 1.4; color: $text-heading;}
    .cat-featured-image{width: 100%; min-height: 152px; margin-bottom: 12px; @include transition(0.8s);  background-repeat: no-repeat; background-position: center; background-size: cover; position: relative;
        &.webinarThumb{background-image: url(../images/webinar-listing-thumb.jpg);}
    }

    // &:hover{
    //     .cat-featured-image{transform: scale(1.07, 1.125); left: -1px; border-top-left-radius: 12px; border-top-right-radius: 12px;}
    // }
   
    p{margin:0 0 5px 0; font-size: 0.95rem; line-height: 1.3;
        strong{color: $color-black; font-size: 0.9rem; font-weight: 500;}
    }
    .heading{color: $color-black; font-size: 0.9rem; line-height: 1.3; font-weight: 600; margin-top: 10px;}
    .know_more{position: absolute; bottom: 20px; right: 12px;
        a{display: block; background:$color-blue; color: $color-white; padding: 2px 20px; border-radius: 25px; font-size: 0.85rem; 
            &:hover{text-decoration: none; background-color: $color-lightblue;}
        }
    }
}
.banner_upcoming_webinars{background: rgba(#052861, 0.85); padding: 10px 15px; height: auto!important; margin: 0 auto; max-width: 400px;
    h6{font-size: 1.25rem; line-height: 1.4; margin: 0 0 8px; color: $color-orange; text-align: center;}
    h2{font-size: 1.3rem; line-height: 1.4; margin: 0 0 5px; color: $color-orange; text-align: left;}
    .featured-image{width: 100%; min-height: 190px!important; margin-bottom: 12px; @include transition(0.8s);  background-repeat: no-repeat; background-position: center; background-size: cover; position: relative;
        &.webinarThumb{background-image: url(../images/webinar-listing-thumb.jpg);}
    }
    .date_time{color: $color-white; font-size: 1rem; font-weight: 300; height: auto!important; margin-bottom: 10px;
        span{color: $color-orange; font-weight: 400;}
    }
    .know_more{height: auto!important;
        a{background: #fff;
            &:hover{background-color: #052861;}
        }
    }
}
body.category-webinars .banner_content .banner_right .video_cont{max-width: 400px;}
body.category-insights .banner_content .banner_right .video_cont{max-width: 400px;}


/* ######################### Template Case Studies ########################## */
.temp_case_studies{
    .banner_content{
        h1{font-size: 3.25rem;}
        p.label{margin: 30px 0 10px;}
        ul.scrollspy_location{list-style: none; margin: 0px; padding: 0px; width: 100%; float: left;
            li{width: auto; float: left; text-align: left; line-height: 1; margin-right: 15px;
                a{background: #1f77dd; border-radius: 5px; text-align: center; color: #fff; text-decoration: none;
                    display: inline-block; padding: 20px 20px; text-decoration: none; font-size: 0.95rem;
                    &:hover{background: $color-skyblue}
                }

                &:last-child{margin-right: 0px;}
            }
        }
    }
}
.centum_impact_section{ background: url(../images/case_impcat_bg.jpg) no-repeat top center; background-attachment: fixed; background-size: cover;
    color: #fff; position: relative;
    .box_wrap{border-bottom:solid 1px #fff; border-right:solid 1px #fff; padding: 40px 10px 15px; min-height: 100%; position: relative;
        font-size: 1rem; line-height: 1.45; font-weight:300;

        &::before{width: calc(100% - 23px); height: 1px; background: #fff; position: absolute; left: 24px; top:0px; display: block; content: '';}
        &::after{height: calc(100% - 23px); width: 1px; background: #fff; position: absolute; top: 24px; left:0px; display: block; content: '';}

        figure{width: 45px; height: 45px; position: absolute; top: -23px; left: -23px;
            img{width: 100%; height: auto;}
        }
    }
    h2, p{color: #fff;}
}
.approch_list{
    .heading{width: 100%; position: relative;
        figure{width: 80px; height: 80px; background: #fff; border:solid 2px #1f77df; border-radius: 50%; position: absolute; top: -15px; left: 0px; z-index: 5;
            img{width: 70%; height: auto; top: 50%; left: 50%; transform: translate(-50%, -50%); position: relative;}
        }
        h4{border:solid 2px #1f77df; border-radius: 50px; padding: 10px 40px 10px 85px; line-height: 1.4; display: inline-block; position: relative; z-index: 1; left: 10px;}
    }
    .wrapper{padding: 10px 10px 10px 75px;}
}

/* ######################### Template Job ########################## */
.job_wrap{margin: 0px auto; max-width: 300px; padding: 40px 15px 15px;  text-align: left; border: solid 0.1rem #fff; position: relative; border-radius: 5px;
    font-size: 1rem; line-height: 1.4; font-weight: 300; color: #fff; min-height: 100%;

    figure{width: 64px; height: 64px; background: #1f77df; margin: 0px; border-radius: 50%; position: absolute; top: -32px; right: 20px;
        img{width: 38px!important; height: auto; top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute;}
    }
    h5{border-bottom: solid 1px #92a9ce; color: #fff; font-size: 1.15rem!important; line-height: 1.4; font-weight: 400; padding-bottom: 10px;}
    
}
.job_from_wrap{background: #f9f9f9; padding: 40px; margin-bottom: 80px; border: solid 1px #f0f0f0; border-radius: 12px;}

.job_position_itenery{text-align: center; border-top: solid 1px #ccc; border-bottom: solid 1px #ccc; padding-top: 30px; padding-bottom: 30px; position: relative;
    h5{font-size: 1.4rem; line-height: 1.3; margin-bottom: 5px;}
    &::after{content: ''; width: 1px; height: 60%; position: absolute; display: block; top:20%; right: 0px; background: #ccc;}
    &:last-child{
        &::after{display: none;}
    }
}

/* ######################### Template Location ########################## */
.location_our_services{border:solid 1px #1f77df; padding: 45px 30px; position: relative; min-height: 100%;
    display: flex; flex-wrap: wrap; margin: 0 30px; background: #fff;

    figure{width: 82px; height: 82px; position: absolute; left: -40px; top: -40px; background: #fff; border:solid 15px #fff; margin-bottom: 0px; z-index: 9;
        img{width: 100%; height: auto;}
    }
    h4{text-align: center; line-height: 1.5; align-self: center; width: 100%;  margin-bottom: 0px; @include transition(1.25s); }
    a{display: block; position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; z-index: 2;}

    &:hover{
        h4{transform: scale(1.14);}
    }
}

@media (max-width:800px){
.post-content{
    
    .page_top_excerpt{font-size: 1.4rem; line-height: 1.6;
        p{font-size: 1.4rem; line-height: 1.6;}
    }
    .post-featured-image{margin-bottom:30px; width: 100%; text-align: center;
        img{margin: 0 auto; max-width: 100%; height: auto;}
    }
    .the_post{width: 100%; display: block;
        img{max-width: 100%; width: 100%; height: auto;}
    .alignleft, img.alignleft, a img.alignleft {float:left; margin:0 1em 1em 0}    
    .alignright, img.alignright, a img.alignright{float:right; margin:0 0 1em 1em}
    .aligncenter, img.aligncenter, a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
    .wp-caption-text{background: #fafafa; color: #888; font-size: 0.8rem; line-height: 1.25; padding: 10px 10px; border-radius: 4px;}
    }
}
}
@media (max-width:767px){
    .job_position_itenery:nth-child(2){
        &::after{display: none;}
    }
    .single-job{
        h1{font-size: 2rem; line-height: 1.5;}
    }
}
@media (max-width:400px){
    .speakers_slider .slick-track .slick-slide{padding: 60px 0px 0px;}
    .job_from_wrap{padding: 25px 20px;}
}