$bg-white: #fff;
$bg-black: #000;
$bg-alice-blue: #f5f8fb;
$bg-smoke: #f7f6f6;
$bg-light-gray:#f1f3f4;
$bg-dark-gray:#2b2d39;

$text-color:#222;
$text-heading:#242526;

$color-orange: #ffc20e;
$color-blue: #09367d;
$color-blue-hover: #052861;
$color-skyblue: #00aeef;
$color-lightblue: #1f77df;
$color-bdazzledBlue: #375878;
$color-black:#000;



$color-gray:#333;
$color-gray6:#666;
$color-white:#fff;
$color-red: #f00;
$color-light-blue: #acc9fd;



$font-poppins: 'Poppins', sans-serif;;